<!DOCTYPE html>
<html lang="en" ng-app="dashboardApp">
    <head>
        <title><%= @strings['applicationTitle'] %></title>
        <meta http-equiv="X-UA-Compatible" content="IE=EDGE" /> 
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" href="lib/bootstrap/bootstrap.min.css">
        <!--[if IE]><link rel="shortcut icon" href="images/favicon.ico"><![endif]-->
        <link rel="apple-touch-icon-precomposed" href="images/favicon-180x180.png">
        <link rel="icon" href="images/favicon-196x196.png">
        <link rel="stylesheet" href="css/custom_style.css">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    </head>
    <body>
    {{courses}}
      <div id="lang" style="display:none"><%= @strings.to_json %></div>
      <a href="#" id="footerReveal" class="footerReveal" ng-click="showFooter=!showFooter"> </a>
      <nav class="navbar navbar-default navHead" role="navigation">
            <div class="container-fluid">
                <div class="row">
                    <div class="navbar-header mastHead col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <h1 class="navbar-brand"><span class="sr-only"><%= @strings['applicationTitle'] %></span></h1>
                    </div>
                    <div class="nav navbar-nav navbar-right loginContainer col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <a class="btn btn-default" href="https://ctools.umich.edu/portal/login" id="ctoolsLogin">CTools<span class="visible-lg-inline visible-md-inline visible-sm-inline"> Login <strong>»</strong></span></a>
                        <a class="btn btn-default" href="https://umich.instructure.com" id="canvasLogin">Canvas<span class="visible-lg-inline visible-md-inline visible-sm-inline"> Login <strong>»</strong></span></a>
                    </div>
                </div>
            </div>    
            <!-- /.container-fluid -->
        </nav>
        <div class="container-fluid contentWrapper">
            <div class="row row-eq-heigh" id="content">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 col1">
                    <div ng-include src="'views/courses.html'"></div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 col2">
                    <div ng-include src="'views/schedule.html'"></div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 col2">
                </div>    

        </div>
        </div>

        <div id="spinner" style="display:none">
        </div>

        <p class="footerInfo text-muted" ng-show="showFooter"><small style="font-size:75%"> User: [<span id="userId"><%= @remote_user %></span>] server: [<%= @server %>] build time: [<%= @build_time %>] build_id: [<%= @build_id %>]</small>
         </p>

        <script type="text/javascript" src="lib/jquery/jquery-1.11.0.min.js">
        </script>
        <script type="text/javascript" src="lib/bootstrap/bootstrap.min.js">
        </script>
        <script type="text/javascript" src="lib/jsutils/moment.min.js">
        </script>
		<script type="text/javascript" src="lib/jsutils/underscore-min.js">
        </script>

        <script type="text/javascript" src="js/utils/utils.js">
        </script>
        <script type="text/javascript" src="lib/angular/angular.min.js">
        </script>
        <script type="text/javascript" src="js/app/app.js">
        </script>

        <script type="text/javascript" src="js/controllers/controllers.js">
        </script>
        <script type="text/javascript" src="js/factories/factories.js">
        </script>
        <script type="text/javascript" src="js/filters/filters.js">
        </script>
        <div class="modal fade" id="serverInfoModal" tabindex="-1" role="dialog" aria-labelledby="serverInfoLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Close</span>
                        </button>
                        <h3 class="modal-title" id="serverInfoLabel">Please copy the info below</h3>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <textarea class="form-control" id="toDoMessage" style="height:90px">User: [<%= @remote_user %>]&#10;server: [<%= @server %>]&#10;build time: [<%= @build_time %>]&#10;build_id: [<%= @build_id %>]</textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div id="isMobile"></div>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-70922164-1', 'auto');
          ga('send', 'pageview');
        </script>
    </body>
</html>
