<!DOCTYPE html>
<html lang="en" ng-app="dashboardApp">
    <head>
        <title><%= @strings['applicationTitle'] %></title>
        <meta http-equiv="X-UA-Compatible" content="IE=EDGE" /> 
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" href="lib/bootstrap/bootstrap.min.css">
        <!--[if IE]><link rel="shortcut icon" href="images/favicon.ico"><![endif]-->
        <link rel="apple-touch-icon-precomposed" href="images/favicon-180x180.png">
        <link rel="icon" href="images/favicon-196x196.png">
        <link rel="stylesheet" href="css/custom_style.css">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    </head>
    <body>
      <div id="lang" style="display:none"><%= @strings.to_json %></div>
      <a href="#" id="footerReveal" class="footerReveal" ng-click="showFooter=!showFooter"> </a>
      <nav class="navbar navbar-default navHead" role="navigation">
            <div class="container-fluid">
                <div class="row">
                    <div class="navbar-header mastHead col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <h1 class="navbar-brand"><span class="sr-only"><%= @strings['applicationTitle'] %></span></h1>
                    </div>
                    <div class="nav navbar-nav navbar-right loginContainer col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <a class="btn btn-default" href="https://ctools.umich.edu/portal/login" id="ctoolsLogin">CTools<span class="visible-lg-inline visible-md-inline visible-sm-inline"> Login <strong>»</strong></span></a>
                        <a class="btn btn-default" href="https://umich.instructure.com" id="canvasLogin">Canvas<span class="visible-lg-inline visible-md-inline visible-sm-inline"> Login <strong>»</strong></span></a>
                    </div>
                </div>
            </div>    
            <!-- /.container-fluid -->
        </nav>
        <div class="container-fluid contentWrapper">
            <div class="row dashMessageContainer" id="dashMessageContainer" ng-show="dashMessage" ng-controller = "dashMessageController">
                <div class ="dashMessage alert alert-warning alert-plain alert-dismissible col-md-12 col-xs-12 col-lg-12" ngcloak>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <span class ="dashMessageInner">{{dashMessage}}</span>
                        
                </div>
            </div>    
            <div class="row row-eq-heigh" id="content">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 col1">
                    <!--
                    <h2 class="colHeader phasePlusOne">Schedule</h2>
                    <div id="schedule" class="itemPanel phasePlusOne" ng-controller = "scheduleController" ng-cloak>

                    <div id="schedule" class="itemPanel phasePlusOne">
                        <ul>
                            <li ng-repeat="item in schedule | orderBy:'tf'" class="container-fluid {{'ad' + item.tf}}">
                                <div class="row">
                                    <div class ="col-md-1 col-xs-1 calDate">
                                        <small>
                                            <strong>{{item.time}}</strong>
                                        </small>
                                        <br>
                                        <small>
                                            <strong>{{item.ampm | uppercase}}</strong>
                                        </small>
                                    </div>
                                    <div class ="col-md-11 col-xs-11">
                                        {{item.title}}
                                        <br>
                                        <small>
                                            <a title="See map (opens in new window)" target ="_blank" href="{{item.location_link}}"><span class="sr-only">See map for </span>{{item.location}}</a>
                                        </small>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    -->
                    <div ng-include src="'views/courses.html'"></div>
                </div>
                <!--
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 col2 phasePlusOne">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6" style="padding-left:0">
                            <h2 class="colHeader">To Do</h2>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6" style="margin-top:18px;padding-right:0">
                            <div class="dropdown pull-right">
                                <button class="btn btn-sm btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                    View <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right" id="selectTodos" role="menu" aria-labelledby="dropdownMenu1" style="font-size:12px">
                                    <li role="presentation">
                                        <a id="selectSheduled" role="menuitem" tabindex="-1" href="#">Scheduled</a>
                                    </li>
                                    <li role="presentation">
                                        <a id="selectUnscheduled" role="menuitem" tabindex="-1" href="#">Unscheduled</a>
                                    </li>
                                    <li role="presentation">
                                        <a id="selectCompleted" role="menuitem" tabindex="-1" href="#">Completed</a>
                                    </li>
                                    <li role="presentation">
                                        <a id="selectAll" role="menuitem" tabindex="-1" href="#">All</a>
                                    </li>
                                </ul>
                            </div>
                            <button type="button" id="addToDo" class="btn btn-sm btn-default pull-right" style="margin:0 5px" data-toggle="modal" data-target="#newToDoModal">
                                + <span class="sr-only">Add a new to do</span>
                            </button>
                            <button type="button" id="removeToDos" class="btn btn-sm btn-primary pull-right" style="margin:0 5px;display:none">
                                - <span class="sr-only">Delete selected to dos</span>
                            </button>
                        </div>
                    </div>
                    
                    <div id="todo" class="itemPanel" ng-controller = "todoController" ng-cloak>
                    
                    <div id="todo" class="itemPanel">
                        <ul>
                            <li ng-repeat="item in todos | orderBy:'due'" class="container-fluid" ng-class="isOverdue(item)">
                                <div class="overdueFlag">
                                    !
                                </div>
                                <div class="row">
                                    <div class ="col-lg-1 col-md-1 col-xs-1 {{item.origin}} iconContainer">
                                        <span ng-if="item.origin ==='gt'"><input type="checkbox" /></span>
                                    </div>
                                    <div class ="col-lg-7 col-md-7 col-xs-7">
                                        {{item.title}}
                                        <br>
                                        <small>
                                            <span ng-if="item.origin !=='gt'"><a class="courseLink" href="{{item.course_link}}"><span class="sr-only">View item in site for </span>{{item.context}}</a></span>
                                            <span ng-if="item.origin ==='gt'">{{item.info.message}}</span>
                                            <span class="noDueDate" ng-if="item.due ===''"></span>
                                            <span class="dueDate" ng-if="item.due !==''"></span>
                                        </small>
                                    </div>
                                    <div class ="col-lg-4 col-md-4 col-sm-4 col-xs-4 date">
                                        <small class="dateSpan">
                                            {{item.due | dateUntil}}
                                        </small>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <h2 class="colHeader">UM Events</h2>

                    <div id="uniEvents" class="itemPanel" ng-controller = "uniEventsController">

                    <div id="uniEvents" class="itemPanel">
                        <ul>
                            <li ng-repeat="item in unievents" class="container-fluid">
                                <div class="row">
                                    <div class ="col-lg-1 col-md-1 col-xs-1 iconContainer">
                                        <i class="glyphicon customIcon {{item.event_type}}"></i>
                                    </div>
                                    <div class ="col-lg-7 col-md-7 col-xs-7">
                                        <a target="_blank" href="{{item.permalink}}">{{item.event_title}}</a> 
                                         <a class="btn btn-xs btn-link popOver" data-toggle="popover" title="{{item.event_title}}" data-content="{{item.description}}">(more<span class="sr-only"> on {{item.event_title}}</span>?)</a>
                                    </div>
                                    <div class ="col-lg-4 col-md-4 col-sm-4 col-xs-4 date">
                                        <small class="dateSpan">{{ item.datetime_start | date:'MM/dd HH:mm a'}}</small>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 col3 phasePlusOne">
                    <h2 class="colHeader">Recent Activity</h2>

                    <div id="events" class="itemPanel" ng-controller = "eventsController" ng-cloak>
                        <ul>
                            <li ng-repeat="item in events  | orderBy:'-date'" class="container-fluid">
                                <div class="row">
                                    <div class ="col-lg-1 col-md-1 col-xs-1  iconContainer">
                                        <i class="glyphicon customIcon {{item.type}}"></i>
                                    </div>
                                    <div class ="col-lg-7 col-md-7 col-xs-7">
                                        {{item.title}}
                                        <br>
                                        <small>
                                            <a class="courseLink" href="{{item.link}}">{{item.context}}</a>
                                        </small>
                                    </div>
                                    <div class ="col-md-4 col-sm-4 col-xs-4 date">
                                        <small>
                                        </small>
                                        <small>
                                            {{item.date | dateAgo}}
                                        </small>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            -->
        </div>
        </div>

        <div id="spinner" style="display:none">
        </div>

        <p class="footerInfo text-muted" ng-show="showFooter"><small style="font-size:75%"> User: [<span id="userId"><%= @remote_user %></span>] server: [<%= @server %>] build time: [<%= @build_time %>] build_id: [<%= @build_id %>]</small>
         </p>

        <script type="text/javascript" src="lib/jquery/jquery-1.11.0.min.js">
        </script>
        <script type="text/javascript" src="lib/bootstrap/bootstrap.min.js">
        </script>
        <script type="text/javascript" src="lib/jsutils/moment.min.js">
        </script>
		<script type="text/javascript" src="lib/jsutils/underscore-min.js">
        </script>

        <script type="text/javascript" src="js/utils/utils.js">
        </script>
        <script type="text/javascript" src="lib/angular/angular.min.js">
        </script>
        <script type="text/javascript" src="js/app/app.js">
        </script>

        <script type="text/javascript" src="js/controllers/controllers.js">
        </script>
        <script type="text/javascript" src="js/factories/factories.js">
        </script>
        <script type="text/javascript" src="js/filters/filters.js">
        </script>

        <!-- Modal -->
        <!--
        <div class="modal fade" id="newToDoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Close</span>
                        </button>
                        <h3 class="modal-title" id="myModalLabel">New To Do</h3>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="toDoTitle" class="sr-only">
                                Email address
                            </label>
                            <input type="text" class="form-control" id="toDoTitle" placeholder="To do title">
                        </div>
                        <div class="form-group">
                            <label for="toDoMessage" class="sr-only">
                                Stuff...
                            </label>
                            <textarea class="form-control" id="toDoMessage" placeholder="Stuff to do...." style="height:200px">
                            </textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            Close
                        </button>
                        <button type="button" class="btn btn-primary" id="saveToDo">
                            Save To Do
                        </button>
                    </div>
                </div>
            </div>
        </div>
        -->
        <div class="modal fade" id="serverInfoModal" tabindex="-1" role="dialog" aria-labelledby="serverInfoLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Close</span>
                        </button>
                        <h3 class="modal-title" id="serverInfoLabel">Please copy the info below</h3>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <textarea class="form-control" id="toDoMessage" style="height:90px">User: [<%= @remote_user %>]&#10;server: [<%= @server %>]&#10;build time: [<%= @build_time %>]&#10;build_id: [<%= @build_id %>]</textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div id="isMobile"></div>
    </body>
</html>
